<header>
<section>
    <div class="container" id="topnav">
    <nav class="navbar navbar-default" id="navbarBg">
        <div>
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img alt="Yann" class="logo-klap-head" src="#">
                    </a>
                </div>
                <ul class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="border-white"><a href="#">Projets</a></li>
                        <li class="border-white"><a href="#">Veille</a></li>
                        <li class="border-white"><a href="#">Photo</a></li>
                        <li class="border-white"><a href="#">Contact</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>
    </div>
</section>
</header>
